.card {
  background: hsl(177, 94%, 20%);
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  gap: 5px;
}

.card:hover {
  outline: 3px solid #fff;
}

.card:hover img {
  animation: rotate 2s linear infinite;
}

.card img {
  height: 100px;
  width: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
