.help {
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(177, 92%, 7%);
  padding: 20px 40px;
  border-radius: 10px;
  z-index: 20;
}

.help button {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  border: 0;
  background: none;
  cursor: pointer;
  width: 1.4rem;
  height: auto;
}

.help hr {
  margin: 10px 0;
}

.help li {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}
